<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="assets/vue.js"></script>
    <style>
        * {
                    margin: 0;
                    padding: 0;
                }
                body{padding-top: 50px;
                    padding-left:100px ;
                    
                }
                table {
                    border-collapse: collapse;
                   
                }
                input{
                    margin-bottom:20px;
                    margin:20px;
                }
                tbody tr {
                    cursor: pointer;
                }
                
                th,
                td {
                    width: 200px;
                    height: 30px;
                    border: 1px solid #000;
                }
                
                td {
                    text-align: center;
                }
                #xcbut{margin-left: 10px;}
            </style>
</head>

<body>

    <table id="table">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" v-model="yixuan">全选</th>
                <th>歌曲文件</th>
                <th>歌手</th>
                <th>歌曲名字</th>
                <th>写真封面</th>
                <th>操作</th>

            </tr>

        </thead>
        <tbody>
            <tr v-for="(value, index) in song" :key="index" @click="selectRow(index)" :data-id="index">
                <td><input type="checkbox"   v-model="selected" :value="index"></td>
                <td>
                    <audio id="music" controls="controls">
                        <source :src="value.src" type="audio/mpeg">
                    </audio>
                    <!-- <audio>
                       <source :src="value.src"/> 
                    </audio> -->
                </td>

                <td>{{value.singer}}</td>
                <td>{{value.name}}</td>
                <td>
                    <img :src="value.filename" alt="" style="width:40px;margin:5px;" />
                </td>
                <td class="del">
                    <a href="javascript:;" @click="deletePerson(index)">删除</a>
                    <a href="javascript:;" @click="useclone(index)">复制</a>
                </td>

            </tr>
        </tbody>

    </table>
    <script type="text/javascript">
        let mv = new Vue({
            el: "#table",

            data: {
                //yixuan: false,
                selected: [],

                song: [{
                        "src": "media/beyond - 喜欢你.mp3",
                        "singer": "beyond",
                        "name": "喜欢你",
                        "filename": "media/beyond - 喜欢你.jpg"
                    },
                    {
                        "src": "media/beyond - 真的爱你.mp3",
                        "singer": "beyond",
                        "name": "真的爱你",
                        "filename": "media/beyond - 真的爱你.jpg"
                    },
                    {
                        "src": "media/方大同 - 红豆 - 完整版.mp3",
                        "singer": "方大同",
                        "name": "红豆",
                        "filename": "media/方大同 - 红豆 - 完整版.jpg"
                    },
                    {
                        "src": "media/杨坤 - 无所谓.mp3",
                        "singer": "杨坤",
                        "name": "无所谓",
                        "filename": "media/杨坤 - 无所谓.jpg"
                    },
                    {
                        "src": "media/陈冠蒲-蓝眼泪.mp3",
                        "singer": "陈冠蒲",
                        "name": "蓝眼泪",
                        "filename": "media/陈冠蒲-蓝眼泪.jpg"
                    },
                    {
                        "src": "media/陈奕迅 - 十年.mp3",
                        "singer": "陈奕迅",
                        "name": "十年",
                        "filename": "media/陈奕迅 - 十年.jpg"
                    },
                    {
                        "src": "media/陈妃平-永远到底有多远.mp3",
                        "singer": "陈妃平",
                        "name": "永远到底有多远",
                        "filename": "media/陈妃平-永远到底有多远.jpg"
                    },
                    {
                        "src": "media/陈小春-我有什么资格不要你.mp3",
                        "singer": "陈小春",
                        "name": "我有什么资格不要你",
                        "filename": "media/陈小春-我有什么资格不要你.jpg"
                    },
                    {
                        "src": "media/陈慧娴-千千阙歌(粤).mp3",
                        "singer": "陈慧娴",
                        "name": "千千阙歌(粤)",
                        "filename": "media/陈慧娴-千千阙歌(粤).jpg"
                    },
                    {
                        "src": "media/陈慧林-花花宇宙.mp3",
                        "singer": "陈慧林",
                        "name": "花花宇宙",
                        "filename": "media/陈慧林-花花宇宙.jpg"
                    },
                    {
                        "src": "media/陈慧琳-记事本.mp3",
                        "singer": "陈慧琳",
                        "name": "记事本",
                        "filename": "media/陈慧琳-记事本.jpg"
                    },
                    {
                        "src": "media/陈琳 - 爱就爱了.mp3",
                        "singer": "陈琳",
                        "name": "爱就爱了",
                        "filename": "media/陈琳 - 爱就爱了.jpg"
                    },
                    {
                        "src": "media/陈超-求佛.mp3",
                        "singer": "陈超",
                        "name": "求佛",
                        "filename": "media/陈超-求佛.jpg"
                    }
                ]
            },
            
            computed: {
                // 一般用于需要复杂逻辑或运算才能得到的值，应当使用计算属性
                // computed中的属性会根据data数据的变化而自动改变
                // computed中的属性值都是一个函数，必须有返回值
                // 这里的函数默认为getter
                yixuan: {
                    get() {
                        if (this.selected.length === this.song.length) {
                            //console.log(this.song.length);
                            return true;
                        } else {
                            return false;
                        }
                    },
                    set(checked) {
                        if (checked) {
                            this.selected = this.song.map((item, index) => index)
                        } else {
                            this.selected = []
                        }
                    }
                }
            },
            methods: {
                //点击全选实现全选
                selectRow(index){
                    console.log(123)
                    let i=this.selected.indexOf(index);
                    if(i>=0){
                        this.selected.splice(i,1)
                    }else{
                        this.selected.push(index)
                    }
                },
                //删除
                deletePerson: function (index) {
                    this.song.splice(index, 1);
                },
                //复制
                useclone: function (index) {
                    let arr = this.song.slice(index, index + 1)[0];
                    console.log(arr)
                    // 注意：转成json再反转回来，不能直接使用赋值，不然会和复制的一层公用同一个内存单元地址，会得到一样的结果
                    let obj = JSON.stringify(arr);
                    let newObj = JSON.parse(obj);
                    console.log(newObj);
                    // /** 这里可以对复制的数据进行操作 ***/
                    //newObj.name =name; // 清空名字
                    newObj.isClone = true; // 显示操作按钮
                    // /** 这里可以对复制的数据进行操作 ***/
                    this.song.splice(index + 1, 0, newObj);
                }

            }

        })
    </script>
</body>

</html>