<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>11.组件-可复用的搜索组件</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <script src="assets/vue.js"></script>
</head>
<body>
    <div id="app">
        <todo-list></todo-list>
    </div>

    <template id="tempTodoList">
        <div class="todolist p-3">
            <!-- 表单 -->
            <todo-form @additem="addItem"></todo-form>
            <!-- 内容 -->
            <todo-content :datalist="datalist"></todo-content>
        </div>
    </template>

    <template id="tempTodoForm">
        <div class="input-group mb-3">
            <input type="search" ref="form" class="form-control" @keyup.13="add" v-model="text">
            <div class="input-group-append">
                <button class="btn btn-success" @click="add">添加</button>
            </div>
        </div>
    </template>
    <template id="tempTodoContent">
        <table class="table">
            <thead>
                <tr>
                <th scope="col" width="80"><input type="checkbox" v-model="checkAll">全选</th>
                <th scope="col" width="50">#</th>
                <th scope="col" width="300">待处理事项</th>
                <th scope="col" width="80">状态</th>
                <th scope="col" width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr is="todo-item" v-for="(item,idx) in datalist" :key="item.id" :data="item" :idx="idx"></tr>
            </tbody>
        </table>
    </template>

    <template id="tempTodoItem">
        <tr :class="{'table-success':data.done}" @click="select(!data.selected,idx)">
            <td><input type="checkbox" :checked="data.selected"></td>
            <td>{{idx+1}}</td>
            <td>{{data.text}}</td>
            <td>{{data.done ? '完成':'待办'}}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-outline-success" @click.stop="complete(idx)">完成</button>
                    <button class="btn btn-outline-danger" @click.stop="remove(idx)">删除</button>
                </div>
            </td>
        </tr>
    </template>
   
    <script>
        /*
            组件通讯
                * 父->子
                    * props
                * 子->父
                    * 传递处理函数
                    * 自定义事件+$emit()
                        1. 在子组件上绑定自定义事件，如：additem
                        2. 在子组件代码中执行自定义事件：this.$emit('additem')
                    * 利用Vue实例作为中间桥梁
                        1. 创建中间桥梁 let bus = new Vue()
                        2. 在数据所在的组件中添加自定义事件
                        3. 在子组件中触发自定义事件


            
            特殊属性
                * key
                * is
                * ref

        */
        // 创建中间桥梁，用于实现多级组件通讯
        let bus = new Vue();

        // todoForm
        let todoForm = {
            data(){
                return {
                    text:''
                }
            },
            methods:{
                add(){console.log(this.$refs)
                    // console.log(6666)
                    // this.handlerAdd({text:'xxx'})

                    // 触发自定义事件：this.$emit(type,data)
                    //  * type： 自定义事件名
                    //  * data： 传输的数据

                    this.$emit('additem',{
                        text:this.text
                    });

                    // 清空并自动获得焦点
                    this.text = '';
                    this.$refs.form.focus();
                }
            },
            template:`#tempTodoForm`,

            mounted(){
                // 进入页面，自动获得焦点
                this.$refs.form.focus();
            }
        }


        let todoItem = {
            props:{
                data:Object,
                idx:[Number,String]
            },
            methods:{
                complete(idx){
                    bus.$emit('completeitem',idx);
                },
                remove(idx){
                    bus.$emit('removeitem',idx);
                },
                select(checked,idx){
                    bus.$emit('selectitem',checked,idx);
                }
            },
            template:'#tempTodoItem'
        }

        // todoContent
        let todoContent = {
            props:{
                datalist:{
                    type:Array,
                    required:true
                }
            },
            data(){
                return {
                    // checkAll:false
                }
            },
            computed:{
                checkAll:{
                    get(){
                        return this.datalist.every(item=>item.selected)
                    },
                    set(checked){
                        bus.$emit('selectitem',checked);
                    }
                }
            },
            template:'#tempTodoContent',
            components:{
                todoItem
            }
        }

        // 定义todolist组件
        Vue.component('todo-list',{
            data(){
                return {
                    datalist:[{
                        id:parseInt(Math.random()*1000+1),
                        text:'今晚打老虎',
                        done:false,     //是否完成
                        selected:false, //是否选中
                    }]
                }
            },
            methods:{
                // 添加待办事项
                addItem(item){
                    // 传入的格式：{text}
                    // 修改成所需格式：{text,id,done}
                    item.id = parseInt(Math.random()*1000+1);
                    item.done = false;
                    item.selected = false;

                    this.datalist.push(item);
                },

                // 完成待办事项
                completeItem(idx){
                    this.datalist[idx].done = true;
                },

                // 删除待办事项
                removeItem(idx){
                    this.datalist.splice(idx,1);
                },

                // 修改selected属性（选中或不选）
                selectItem(checked,idx){
                    // 全部操作
                    if(idx===undefined){

                        this.datalist.forEach(item=>{
                            item.selected = checked;
                        });
                    }
                    
                    // 单个操作
                    else{
                        this.datalist[idx].selected = checked;
                    }
                }
            },
            template:'#tempTodoList',

            // 局部组件
            components:{
                todoForm,
                todoContent,
            },

            // 生命周期函数
            mounted(){
                // 给中间桥梁bus添加z自定义事件
                bus.$on('additem',item=>{
                    this.addItem(item);
                });

                bus.$on('completeitem',idx=>{
                    this.completeItem(idx)
                });

                bus.$on('removeitem',idx=>{
                    this.removeItem(idx)
                });

                bus.$on('selectitem',(checked,idx)=>{
                    this.selectItem(checked,idx)
                });
            }
        });


        new Vue({
            el:'#app'
        })
    </script>
        

    </script>
</body>
</html>